# Ignore the node modules folder (created by 'npm install').
gulp/node_modules/
node_modules

# Dist Folder Ignore
gulp/dist/
dist

# Quality Reports
gulp/.qualityReports/
.qualityReports/

# Mac OSX File
.DS_Store

# NPM log
npm-debug.log
~/.npmrc

# We absolutely don't want to have the .sass-cache in git.
.sass-cache

# Ignore the style guide
gulp/styleguide/*
